apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-71xk
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-kedq-tenant/quarkus/devfile-sample-code-with-quarkus-71xk@sha256:f59383ec5fffbffbeb8ca4c074b8f12ed7960971e0a9f237458f8f2b07b52d85
        name: my-java-quarkus
        resources: {}
status: {}
